<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--console Appender-->
    <appender name = "myConsoleAppender" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--File Appender-->
    <appender name = "myFileAppender" class= "ch.qos.logback.core.FileAppender">
        <file>
            logs/application.log
        </file>
        <append> true </append>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--Error Appender-->
    <appender name = "myErrorAppender" class= "ch.qos.logback.core.FileAppender">
        <file>
            logs/error.log
        </file>
        <append> true </append>
        <filter class = "ch.qos.logback.classic.filter.LevelFilter">
            <level> ERROR </level>
            <onMatch> ACCEPT </onMatch>
            <onMismatch> DENY </onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n %ex{full}%n
            </pattern>
        </encoder>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "myConsoleAppender" />
        <appender-ref ref = "myFileAppender" />
    </root>

    <logger name = "com.epam.campus" level = "info" additivity = "false">
        <appender-ref ref="myFileAppender" />
        <appender-ref ref="myConsoleAppender" />
    </logger>

    <logger name = "com.epam.campus" level = "error" additivity = "false">
        <appender-ref ref="myErrorAppender" />
        <appender-ref ref="myFileAppender" />
        <appender-ref ref="myConsoleAppender" />
    </logger>
</configuration>